*.html linguist-detectable=false
*.css  linguist-detectable=false
*.pcss  linguist-detectable=false
*.js   linguist-detectable=false
*.ts   linguist-detectable=false


# Auto detect text files and perform LF normalization
* text=auto
