@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-xl p-2;
}
.row {
	@apply w-full lg:w-1/2 lg:mx-auto;
}
